logs/*
!.gitkeep
node_modules/
tmp
.idea
.DS_Store
bower_components/

lab2-4/app/partials/search.html

lab2-4/app/partials/home.html

lab2-4/README.md

lab2-4/app/js/searchCtrl.js

lab2-4/app/js/dishCtrl.js

lab2-4/app/js/dinnerCtrl.js

lab2-4/app/js/app.js

lab2-4/app/index.html

lab2-4/app/partials/dinner-sidebar.html

lab2-4/app/partials/dish.html

lab2-4/bower.json

lab2-4/package.json

lab2-4/app/js/dinnerService.js
