
body {
    padding-left: 15px; 
    padding-right: 15px;

}


.heading {

    padding-top:25px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(220,150,20,0.9);
    height: 100px;
    width: 100%;
    background-repeat: repeat-x;
    
}

#sideMenu {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:300px;
    float:left;
    padding:5px;
    font-size: 20px;
}

#singleDish {
    line-height: 20px;
    z-index: 0;
    position: absolute;
    top: 150px;
    left: 350px;
}

div p.discription {
    margin-top: 20px;
    font-size: 20px;
}

#ingTable {
    background-color:#eeeeee;
    height:600px;
    width:500px;
    float:right;
    font-size: 20px;
    padding-left: 20px
}

#ingTable table {
    line-height: 50px;
    width:500px;
    z-index: 2;
    font-size: 20px;
    border-top: solid;
    border-bottom: solid;
}

td {
    padding-left: 20px;
}

#confirm {
    position: relative;
    
}