<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->

<div class="col-md-6">
<h2>{{singleDish.Title}}</h2>

<img ng-src="{{singleDish.ImageURL}}" style="width:200px;height:200px"/>
<br>
{{singleDish.Description}}
<br>
<a href="#/search" class="btn btn-primary" id ="createDinner">Back</a>

</div>
<div class="col-md-4">
    <table class="table-striped">
  <tr>
      <th>Ingredient</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Cost</th>
  </tr>
  <tr ng-repeat="ingredient in singleDish.Ingredients">
      <td>{{ingredient.Name}}</td>
      <td>{{ingredient.Quantity}}</td>
      <td>{{ingredient.Unit}}</td>
      <td>{{ingredient.Quantity}}</td>
  </tr>
</table>

<button ng-click="addDish(Dishid)" ng-controller="DinnerCtrl">Add Dish</button>
</div>
