<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"  data-ng-init="init()"></ng-include>

<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->
<style>
    #search {
        margin-top: 30px;
    }
</style>

<div id="content-selection" class="col-md-10">
<div id="search">

<script>
function DeleteText() {
   document.getElementById('orig-table').innerHTML = '';
}
DeleteText();
</script>

<div class="row" id="orig-table">

  <div ng-repeat="dish in dishes" class="col-md-4">
    <a ng-href="#/dish/{{dish.RecipeID}}"><img ng-src="{{dish.ImageURL}}" class="thumbnail" style="width:150px;height:150px"/></a>
    <a ng-href="#/dish/{{dish.RecipeID}}">{{dish.Title}}</a><br>
    {{dish.Category}} {{dish.Subcategory}}
  </div>
</div>

<input ng-model="query"/>
<button ng-click="search(query)">Find</button>
{{status}}

<div class="row">
  <div ng-repeat="dish in dishes" class="col-md-4">
    <a ng-href="#/dish/{{dish.RecipeID}}"><img ng-src="{{dish.ImageURL}}" class="thumbnail" style="width:150px;height:150px"/></a>
    <a ng-href="#/dish/{{dish.RecipeID}}">{{dish.Title}}</a><br>
    {{dish.Category}} {{dish.Subcategory}}
  </div>
</div>


</div>
</div>